{:index 0, :time 195423813, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 328291724, :type :invoke, :process 1, :f :write, :value 70}
{:index 2, :time 609716875, :type :fail, :process 1, :f :write, :value 70, :error "READONLY You can't write against a read only replica."}
{:index 3, :time 613034035, :type :ok, :process 0, :f :read, :value nil}
